*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 17px;
    line-height: 1.47050;
    font-weight: 400;
    letter-spacing: .022em;
    color: #1d1d1f;
    font-style: normal;
    background-color: rgb(245,245,247);
}

body.lock {
    position: fixed;
    overflow: hidden;
}

body.theme-dark{
    background-color: #000;
    color: #f5f5f7;
}

a {
    display: block;
    text-decoration: none;
}

/* Header */
header {
    position: absolute;
    top: 0;
    z-index: 1400;
    height: 44px;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    -webkit-transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    transition: background .36s cubic-bezier(0.32, 0.08, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.header-container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 22px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list-mobile {
    display: none;
}

.nav-link {
    font-size: 14px;
    color: rgba(245, 245, 247);
    transition: .5s;
    height: 44px;
    line-height: 3.14286;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding: 0 10px;
    opacity: .8;
}

.nav-link.current {
    opacity: .56;
}

.nav-link:hover {
    color: #fff;
}

.nav-link-logo {
    background-image: url('Images/Icon/Logo-s2.png');
    filter: brightness(0) invert(1);
    background-size: 45px 23.727272px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 45px;
}

@media screen and (max-width: 767px) {
    header {
        height: 48px;
        transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    }

    header .header-container {
        padding: 0;
    }

    .nav-list {
        margin: 0 16px 0 0;
    }

    .nav-list-mobile {
        display: flex;
    }

    .nav-item {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
    }

    .nav-item-hidden {
        display: none;
    }

    .mobile-menu {
        position: relative;
        z-index: 1500;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .line-border {
        position: absolute;
        top: 9px;
        left: 9px;
        width: 30px;
        height: 30px;
    }

    .line-border-top {
        -webkit-transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        -webkit-transform: none;
        transform: none;
    }

    .line-border-bottom {
        -webkit-transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        -webkit-transform: none;
        transform: none;
    }

    .active .line-border-top {
        -webkit-transition: -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
        transition: -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
        transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
        transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s, -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .active .line-border-bottom {
        -webkit-transition: -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
        transition: -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
        transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
        transition: transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s, -webkit-transform .3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) .1008s;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .line {
        position: absolute;
        background: #fff;
        transition: .5s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        display: block;
        width: 17px;
        height: 1px;
        border-radius: 0.5px;
        z-index: 1;
        left: 7px;
    }

    .line-top {
        top: 14px;
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
        -webkit-transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
        transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
        transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
        transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s, -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
    }

    .line-bottom {
        bottom: 14px;
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
        -webkit-transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
        transition: -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
        transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
        transition: transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s, -webkit-transform .1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) .1008s;
    }

    .active .line-top {
        -webkit-transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        -webkit-transform: none;
        transform: none;
    }

    .active .line-bottom {
        -webkit-transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        transition: -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        transition: transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96), -webkit-transform .1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
        -webkit-transform: none;
        transform: none;
    }

    header.active {
        height: 100%;
        background-color: #000;
    }

    .nav-link-logo {
        width: 60px;
        height: 44px;
        position: relative;
        z-index: 1500;
    }

    .nav {
        position: relative;
    }

    .nav-link {
        font-size: 17px;
        padding: 0;
        line-height: 2.6;
        margin: auto 0;
    }

    .nav-link.current {
        opacity: 1;
    }

    .nav-list-larger {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        display: block;
        padding: 106px 40px 8px 40px;
        z-index: 1000;
        box-sizing: border-box;
        opacity: 0;
        transition: opacity 0s liner 1s;
        visibility: hidden;
    }

    .active .nav-list-larger {
        width: 100%;
        height: 100vh;
        opacity: 1;
        visibility: visible;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }

    .nav-list-larger .nav-item {
        width: 100%;
        justify-content: flex-start;
        border-bottom: 1px solid #424245;
        height: 43px;
    }

    .nav-list-larger .nav-item:nth-child(6) {
        border-bottom: none;
    }

    .active .nav-list-larger .nav-item {
        animation: fadeIn 1s ease-in;
    }

    .notice-box {
        position: absolute;
        height: 0;
        transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
        display: block;
        z-index: 4;
        top: 48px;
        right: 0;
        left: 0;
        padding: 0 10px 17px 10px;
    }

    .notice-box .notice {
        display: block;
        background-color: rgb(29, 29, 31);
        height: 0;
        transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
        max-width: 584px;
        margin: 0 auto;
        padding: 0;
        outline-offset: 0;
        font-size: 17px;
        line-height: 1.23536;
        color: #f5f5f7;
        position: relative;
        z-index: 1;
        border-radius: 8px;
        text-decoration: none;
        white-space: nowrap;
        letter-spacing: -.022em;
        font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }

    .notice-box:after {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        -webkit-transition: opacity 0.31s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.03s, -webkit-transform 0.34s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s;
        transition: opacity 0.31s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.03s, -webkit-transform 0.34s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s;
        transition: opacity 0.31s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.03s, transform 0.34s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s;
        transition: opacity 0.31s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.03s, transform 0.34s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s, -webkit-transform 0.34s cubic-bezier(0.32, 0.08, 0.24, 1) 0.02s;
        content: '';
        display: block;
        height: 1px;
        background: #424245;
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .notice-box .notice p {
        text-align: center;
        line-height: 0;
        font-size: 17px;
        letter-spacing: -.022em;
        transition: line-height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
        font-weight: 400;
        color: rgb(110, 110, 115);
        overflow: none;
    }

    .active .notice-box {
        height: 36px;
        transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    }

    .active .notice {
        height: 2.11765em;
        transition: background .44s .2s cubic-bezier(0.52, 0.16, 0.24, 1), height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    }

    .active .notice p {
        line-height: 2.11;
        transition: line-height .56s cubic-bezier(0.52, 0.16, 0.24, 1);
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

/* Nav */
#ac-localnav.css-sticky {
    position: sticky;
}

.ac-nav-overlap #ac-localnav {
    margin-top: 44px;
    margin-bottom: -96px;
}

#ac-localnav {
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    min-width: 1024px;
    z-index: 1200;
}

#ac-localnav {
    font-weight: normal;
    text-size-adjust: 100%;
}

#ac-localnav .ac-ln-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    z-index: 1;
}

.ac-theme-dark #ac-localnav.ac-localnav-scrim .ac-ln-background, .ac-localnav-scrim#ac-localnav.ac-localnav-dark .ac-ln-background {
    background-color: hsla(0,0%,100%,.72);
}

#ac-localnav.ac-localnav-scrim .ac-ln-background {
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
}

#ac-localnav .ac-ln-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

#ac-localnav.ac-localnav-scrim .ac-ln-background:after {
    margin-left: 0;
    left: 0;
    width: 100%;
}

.ac-theme-dark #ac-localnav .ac-ln-background:after, #ac-localnav.ac-localnav-dark .ac-ln-background:after {
    background-color: rgba(0,0,0,.16);
}

#ac-localnav .ac-ln-background:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    height: 1px;
    z-index: 1;
}

#ac-localnav .ac-ln-content {
    padding-left: calc(max(22px, env(safe-area-inset-left)));
    padding-right: calc(max(22px, env(safe-area-inset-right)));
}

#ac-localnav .ac-ln-content {
    margin: 0 auto;
    max-width: 965px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
}

#ac-localnav .ac-ln-content::before, #ac-localnav .ac-ln-content::after {
    content: ' ';
    display: table;
}

#ac-localnav .ac-ln-content::after {
    clear: both;
}

.ac-theme-dark #ac-localnav .ac-ln-title, .ac-theme-dark #ac-localnav .ac-ln-title a, #ac-localnav.ac-localnav-dark .ac-ln-title, #ac-localnav.ac-localnav-dark .ac-ln-title a {
    color: #000;
}

#ac-localnav .ac-ln-title, #ac-localnav .ac-ln-title a {
    transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

#ac-localnav .ac-ln-title {
    font-size: 21px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .011em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    cursor: default;
    display: block;
    float: left;
    margin: 14px 0 -14px;
    padding: 0;
    height: 52px;
    white-space: nowrap;
}

.ac-theme-dark #ac-localnav .ac-ln-title a, #ac-localnav.ac-localnav-dark .ac-ln-title a {
    opacity: .92;
}

#ac-localnav .ac-ln-title, #ac-localnav .ac-ln-title a {
    color: #000;
    -webkit-transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

#ac-localnav .ac-ln-title a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    text-decoration: none;
    white-space: nowrap;
    opacity: .88;
}

#ac-localnav .ac-ln-menu {
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    float: right;
    margin-top: -3px;
}

#ac-localnav .ac-ln-menu * {
    letter-spacing: inherit;
}

.ac-ln-menu-tray {
    float: left;
    padding-top: 18px;
}

#ac-localnav ul {
    list-style: none;
}

.ac-ln-menu-item {
    margin-left: 24px;
    float: left;
    list-style: none;
}

.ac-ln-menu-item button{
    border: none;
    background-color: initial;
    color: #000;
    opacity: .88;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.ac-ln-menu-item button:hover{
    color: #2997ff;
    text-decoration: none;
    opacity: 1;
}

.ac-ln-menu-item button.active{
    cursor: default;
    opacity: .56;
}

.ac-ln-menu-item button.active:hover{
    color: #000;
    opacity:.56;
}

.ac-theme-dark #ac-localnav .ac-ln-menu-link.current, #ac-localnav.ac-localnav-dark .ac-ln-menu-link.current {
    color: #000;
    opacity: .88;
}

.ac-ln-menu-link {
    color: #000;
    display: inline-block;
    line-height: 22px;
    white-space: nowrap;
    opacity: .88;
}

.ac-theme-dark #ac-localnav .ac-ln-menu-link, #ac-localnav.ac-localnav-dark .ac-ln-menu-link {
    color: #fff;
    opacity: .92;
}

#ac-localnav .ac-ln-actions {
    float: left;
    padding-top: 18px;
}

#ac-localnav .ac-ln-action {
    margin-left: 24px;
    float: left;
}

#ac-localnav .ac-ln-action-menucta {
    display: none;
}

#ac-localnav .ac-ln-action-menucta {
    margin-top: -2px;
    position: relative;
    z-index: 1;
}

#ac-localnav .ac-ln-menucta {
    margin-right: -11px;
    cursor: pointer;
    display: block;
    overflow: hidden;
    width: 40px;
    height: 30px;
    -webkit-tap-highlight-color: transparent;
}

.ac-ln-menucta-chevron {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.8;
 }

.ac-theme-dark #ac-localnav .ac-ln-menucta-chevron::before, .ac-theme-dark #ac-localnav .ac-ln-menucta-chevron::after, #ac-localnav .ac-ln-menucta-chevron::before, #ac-localnav .ac-ln-menucta-chevron::after{
    background: #000;
}

.ac-ln-menucta-chevron::before{
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotate(40deg) scaleY(1.1);
    transform: rotate(40deg) scaleY(1.1);
}

.ac-ln-menucta-chevron::before{
    right: 50%;
    border-radius: .5px 0 0 .5px;
}

.ac-ln-menucta-chevron::before, .ac-ln-menucta-chevron::after{
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    width: 11px;
    height: 1px;
    z-index: 1;
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform-origin 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.ac-ln-menucta-chevron::after{
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: rotate(-40deg) scaleY(1.1);
    transform: rotate(-40deg) scaleY(1.1);
}

.ac-ln-menucta-chevron::after{
    left: 50%;
    border-radius: 0 .5px .5px 0;
}

.shownav .ac-ln-menucta-chevron::before{
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    -webkit-transform: rotate(-40deg) scaleY(1.1);
    transform: rotate(-40deg) scaleY(1.1);
}

.shownav .ac-ln-menucta-chevron::after{
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotate(40deg) scaleY(1.1);
    transform: rotate(40deg) scaleY(1.1);
}

.shownav .ac-ln-menucta-chevron{
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

#ac-ln-curtain {
    background: rgba(0,0,0,0.4);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 1100;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

#ac-ln-curtain.shownav{
    -webkit-transition: opacity 1s ease 0.1s;
    transition: opacity 1s ease 0.1s;
}

@media only screen and (max-width: 767px){
    .ac-nav-overlap #ac-localnav {
        margin-top: 48px;
        margin-bottom: -96px;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav {
        height: 48px;
    }
}

@media only screen and (max-width: 1044px){
    #ac-localnav {
        min-width: 320px;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-background {
        min-height: 48px;
        -webkit-transition: background-color 0.5s ease 0.7s;
        transition: background-color 0.5s ease 0.7s;
    }
}

@media only screen and (max-width: 1023px){
    #ac-localnav .ac-ln-background:after {
        margin-left: 0;
        left: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-content {
        padding: 0 16px;
    }
}

@media only screen and (max-width: 1023px){
    #ac-localnav .ac-ln-content {
        border-bottom: none;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-title {
        display: inline-block;
        margin: 12px 0 -12px;
        height: 48px;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-title {
        font-size: 19px;
        line-height: 1.26316;
        font-weight: 600;
        letter-spacing: .012em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-menu {
        font-size: 14px;
        line-height: 1;
        font-weight: 400;
        letter-spacing: -.02em;
        font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        padding-top: 0;
        margin-top: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-tray {
        float: none;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        width: 100%;
        padding-top: 0;
        max-height: 0;
        -webkit-transition: max-height 0.5s cubic-bezier(0.28, 0.11, 0.32, 1) 0.4s,visibility 0s linear 1s;
        transition: max-height 0.5s cubic-bezier(0.28, 0.11, 0.32, 1) 0.4s,visibility 0s linear 1s;
    }
    .shownav .ac-ln-menu-tray{
        max-height: 400px;
        max-height: calc(100vh - 48px - 48px);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        pointer-events: auto;
        visibility: visible;
        -webkit-transition-delay: 0.2s, 0s;
        transition-delay: 0.2s, 0s;
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-items {
        opacity: 0;
        padding: 4px 24px 24px;
        -webkit-transform: translate3d(0, -150px, 0);
        transform: translate3d(0, -150px, 0);
        -webkit-transition: opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s,-webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
        transition: opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s,-webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
        transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s,opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s;
        transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s,opacity 0.7s cubic-bezier(0.23, 1, 0.32, 1) 0.2s,-webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1) 0.5s;
    }
    .shownav .ac-ln-menu-items{
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition-delay: 0.2s, 0.4s;
        transition-delay: 0.2s, 0.4s;
    }
}

@media only screen and (max-width: 767px){
    .ac-theme-dark #ac-localnav .ac-ln-menu-item, #ac-localnav.ac-localnav-dark .ac-ln-menu-item {
        border-color: rgba(255,255,255,0.24);
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-item {
        margin-left: 0;
        display: inline-block;
        float: none;
        width: 100%;
        height: 44px;
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-item:nth-child(1) .ac-ln-menu-link {
        -webkit-transition-delay: 0.07s;
        transition-delay: 0.07s;
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-item:first-child .ac-ln-menu-link {
        border-top: 0;
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-item:nth-child(1) .ac-ln-menu-link {
        -webkit-transition-delay: 0.07s;
        transition-delay: 0.07s;
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-item:first-child .ac-ln-menu-link {
        border-top: 0;
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-item button{
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -.28px;
        line-height: 18.2px;
        opacity: .88;
    }
}

@media only screen and (max-width: 767px){
    .ac-theme-dark #ac-localnav .ac-ln-menu-link, #ac-localnav.ac-localnav-dark .ac-ln-menu-link {
        border-color: rgba(0,0,0,.181818);
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-link {
        border-top: 1px solid rgba(0,0,0,0.181818);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        line-height: 1.3;
        opacity: 0;
        -webkit-transform: translate3d(0, -25px, 0);
        transform: translate3d(0, -25px, 0);
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
        -webkit-transition-property: opacity, -webkit-transform;
        transition-property: opacity, -webkit-transform;
        transition-property: transform, opacity;
        transition-property: transform, opacity, -webkit-transform;
    }
}

@media only screen and (max-width: 767px){
    .ac-ln-menu-item:nth-child(2) .ac-ln-menu-link {
        -webkit-transition-delay: 0.14s;
        transition-delay: 0.14s;
    }
    .shownav .ac-ln-menu-link{
        opacity: .88;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-actions {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-actions {
        right: 0;
        padding-left: 22px;
        padding-right: 22px;
        position: absolute;
        top: 0;
        z-index: 1;
        padding-right: calc(22px + constant(safe-area-inset-right));
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-action-menucta {
        display: block;
    }
}

@media only screen and (max-width: 767px){
    #ac-localnav .ac-ln-action-menucta {
        float: left;
    }
}

@media only screen and (max-width: 767px){
    #ac-ln-curtain {
        -webkit-transition: opacity 1s ease 0.2s,width 0s ease 1.2s,height 0s ease 1.2s;
        transition: opacity 1s ease 0.2s,width 0s ease 1.2s,height 0s ease 1.2s;
    }
    #ac-ln-curtain.shownav{
        opacity: 1;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

/* Main Content */
.main{
    position: relative;
    display: block;
}

section{
    display: block;
}

.main .section{
    padding-top: 97px;
}

.main .section .tabcontent {
    width: 100%;
    min-height: 300px;
    outline: none;
    border: none;
}

.main .section .tabcontent .sub-container{
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 980px;
    margin: 0 auto;
}

.main .section .tabcontent .sub-container .event-contain{
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 30px;
    margin: 12px 0;
    padding: 50px 0;
    overflow: hidden;
    pointer-events: none;
}

.main .section .tabcontent .sub-container .event-contain .copy h2 {
    margin: 0 15px 0 15px;
    text-align: center;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.main .section .tabcontent .sub-container .event-contain .copy p {
    color: rgb(142,142,147);
    margin: 5px 0;
    text-align: center;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.main .section .tabcontent .sub-container .event-contain .copy .c1 {
    color: #fffbc2;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.main .section .tabcontent .sub-container .event-contain .copy .c2 {
    color: #ffc7c5;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.main .section .tabcontent .sub-container .event-contain .copy .c3 {
    color: #a8e3fe;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.main .section .tabcontent .sub-container .event-contain .copy .des-box {
    padding: 10px 0 0 0;
}

.main .section .tabcontent .sub-container .event-contain .copy .des-box h4 {
    text-align: center;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.main .section .tabcontent .sub-container .event-contain .copy .des-box p {
    color: rgb(142,142,147);
    margin: 5px 0;
    text-align: center;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.main .section .tabcontent .sub-container .event-contain .image-box {
    height: auto;
    overflow: auto;
    margin: 0 50px;
    padding-top: 50px;
}

.main .section .tabcontent .sub-container .event-contain .image-box img{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 30px;
}

@media only screen and (max-width: 1068px){
    .main .section .tabcontent .sub-container .event-contain .copy h2 {
        font-size: 44px;
        line-height: 1.09091;
        font-weight: 600;
        letter-spacing: -.002em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .main .section .tabcontent .sub-container .event-contain .copy .c1, .main .section .tabcontent .sub-container .event-contain .copy .c2, .main .section .tabcontent .sub-container .event-contain .copy .c3 {
        font-size: 44px;
        line-height: 1.09091;
        font-weight: 600;
        letter-spacing: -.002em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .main .section .tabcontent .sub-container .event-contain .copy .des-box p {
        font-size: 24px;
        line-height: 1.16667;
        font-weight: 400;
        letter-spacing: .009em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .main .section .tabcontent .sub-container .event-contain .copy .des-box h4 {
        font-size: 24px;
        line-height: 1.16667;
        font-weight: 400;
        letter-spacing: .009em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
}

@media only screen and (max-width: 980px) {
    .main .section .tabcontent .sub-container .event-contain{
        border-radius: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .main .section .tabcontent .sub-container .event-contain{
        padding: 50px 0 0 0;
    }
    .main .section .tabcontent .sub-container .event-contain .copy .des-box {
        padding: 10px 0 50px 0;
    }
    .main .section .tabcontent .sub-container .event-contain .image-box {
        margin: 0;
        padding-top: 0px;
    }
    .main .section .tabcontent .sub-container .event-contain .image-box img{
        border-radius: 0px;
    }
    .main .section .tabcontent .sub-container .event-contain .copy h2 {
        font-size: 32px;
        line-height: 1.125;
        font-weight: 600;
        letter-spacing: .004em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .main .section .tabcontent .sub-container .event-contain .copy .c1, .main .section .tabcontent .sub-container .event-contain .copy .c2, .main .section .tabcontent .sub-container .event-contain .copy .c3 {
        font-size: 32px;
        line-height: 1.125;
        font-weight: 600;
        letter-spacing: .004em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .main .section .tabcontent .sub-container .event-contain .copy .des-box p {
        font-size: 19px;
        line-height: 1.4211;
        font-weight: 400;
        letter-spacing: .012em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .main .section .tabcontent .sub-container .event-contain .copy .des-box h4 {
        font-size: 19px;
        line-height: 1.4211;
        font-weight: 400;
        letter-spacing: .012em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
}

/* Photo Section */
.tabcontent .wrapper{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 40;
    margin: 12px 0;
    overflow: hidden;
}

.tabcontent .wrapper .wrapper-box {
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.tabcontent .wrapper .large{
    flex-basis: 50%;
}

.tabcontent .wrapper .wrapper-box .box {
    opacity: 0.999;
    transition: opacity 0.5s ease-in-out;
    display: inline-flex;
    box-sizing: border-box;
    position: relative;
    background: #1d1d1f;
    height: 41px;
    border-radius: 20.5px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}

.tabcontent .wrapper .wrapper-box .box button {
    border-radius: 18.5px;
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 600;
    letter-spacing: -.016em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    -webkit-appearance: none;
    padding: 0 18px;
    text-align: center;
    color: #a1a1a6;
    transition: color 275ms;
    min-width: 98px;
    white-space: nowrap;
    background: none;
    border: 0;
    cursor: pointer;
    font: inherit;
    overflow: visible;
    vertical-align: inherit;
}

.tabcontent .wrapper .wrapper-box .box .tablinks2 {
    display: inline;
}

.tabcontent .wrapper .wrapper-box .box button#DOpen.active {
    color: rgb(0,122,255);
}

.tabcontent .wrapper .wrapper-box .box button#two.active{
    color: rgb(0,122,255);
}

.tabcontent .wrapper .wrapper-box .box button#three.active{
    color: rgb(0,122,255);
}

.tabcontent .wrapper .wrapper-box .box button:not(:first-of-type)::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    margin: auto;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: #f5f5f7;
    transition: transform 350ms;
}

.tabcontent .wrapper .wrapper-box .box button.active::before, .tabcontent .wrapper .wrapper-box .box button.active+button::before {
    transform: scale(0);
}

.segmentnav-selection-background {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    height: 37px;
    min-width: 37px;
    background: #f5f5f7;
    transition: 300ms;
    border-radius: 18.5px;
}

.tabcontent .wrapper .wrapper-box .box button#DOpen.active ~ .segmentnav-selection-background {
    width: 98px;
    transform: translateX(0px);
}

.tabcontent .wrapper .wrapper-box .box button#two.active ~ .segmentnav-selection-background {
    width: 98px;
    transform: translateX(98px);
}

.tabcontent .wrapper .wrapper-box .box button#three.active ~ .segmentnav-selection-background {
    width: 98px;
    transform: translateX(196px);
}

/* 2019 */
.tabcontent2 {
    width: 100%;
    min-height: 300px;
    outline: none;
    border: none;
}

.tabcontent2 .sub-container2{
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 980px;
    margin: 0 auto;
}

.tabcontent2 .sub-container2 .photo-contain{
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 30px;
    margin: 12px 0;
    padding: 50px 0;
    overflow: hidden;
}

.tabcontent2 .sub-container2 .photo-contain .copy h2{
    margin: 0 15px 0 15px;
    text-align: center;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.tabcontent2 .sub-container2 .photo-contain .copy h4 {
    text-align: center;
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.tabcontent2 .sub-container2 .photo-contain .image-box{
    padding-top: 50px;
    margin: 0 50px;
}

.tabcontent2 .sub-container2 .photo-contain .image-box .grid-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 12px;
    overflow: auto;
    margin: 0;
}

.tabcontent2 .sub-container2 .photo-contain .image-box .grid-container .image img {
    height: auto;
    width: 100%;
    display: block;
    border-radius: 30px;
}

/* 2020 */
.tabcontent2 .sub-container2 .photo-contain .image-box .grid-container-2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 12px;
    overflow: auto;
    margin: 0;
}

.tabcontent2 .sub-container2 .photo-contain .image-box .grid-container-2 .column2 img {
    height: auto;
    width: 100%;
    display: block;
    border-radius: 18px;
}

@media only screen and (max-width: 1068px){
    .tabcontent2 .sub-container2 .photo-contain .copy h2 {
        font-size: 44px;
        line-height: 1.09091;
        font-weight: 600;
        letter-spacing: -.002em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .tabcontent2 .sub-container2 .photo-contain .copy h4 {
        font-size: 24px;
        line-height: 1.16667;
        font-weight: 400;
        letter-spacing: .009em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
}

@media only screen and (max-width: 980px) {
    .tabcontent2 .sub-container2 .photo-contain{
        border-radius: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .tabcontent2 .sub-container2 .photo-contain{
        padding: 50px 0 0 0;
    }
    .tabcontent2 .sub-container2 .photo-contain .image-box{
        margin: 0;
    }
    .tabcontent2 .sub-container2 .photo-contain .image-box .grid-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 12px;
        overflow: auto;
        margin: 0;
    }

    .tabcontent2 .sub-container2 .photo-contain .image-box .grid-container .image img {
        height: auto;
        width: 100%;
        display: block;
        border-radius: 0px;
    }
    .tabcontent2 .sub-container2 .photo-contain .copy h2 {
        font-size: 32px;
        line-height: 1.125;
        font-weight: 600;
        letter-spacing: .004em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .tabcontent2 .sub-container2 .photo-contain .copy h4 {
        font-size: 19px;
        line-height: 1.4211;
        font-weight: 400;
        letter-spacing: .012em;
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    }
    .tabcontent2 .sub-container2 .photo-contain .image-box .grid-container-2 {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 12px;
        overflow: auto;
        margin: 0;
    }

    .tabcontent2 .sub-container2 .photo-contain .image-box .grid-container-2 .column2 img {
        border-radius: 0px;
    }
}


/* Footer */
footer.footer {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #f5f5f7;
    color: #1d1d1f;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    display: block;
}

.footer .ac-gf-footer {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    height: auto;
}

.footer .ac-gf-footer .ac-gf-note {
    border-bottom: 1px solid #d2d2d7;
    color: #86868b;
    padding: 17px 0 11px;
}

.footer .ac-gf-footer .ac-gf-note ul {
    list-style: none;
    margin: 0;
}

.footer .ac-gf-footer .ac-gf-note li {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Apple Legacy Chevron", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    padding-bottom: 0.8em;
}

.footer .ac-gf-footer .ac-gf-note .BC {
    padding: 7.4px 0 17px 0;
}

.footer .ac-gf-footer .ac-gf-note li a {
    color: rgb(29,29,31);
    text-decoration: none;
    display: inline;
}

.footer .ac-gf-footer .ac-gf-note .arrow{
    background-repeat: no-repeat;
    background-image: url('Images/icon_large.svg');
    width: 8px;
    background-size: 8px 36px;
    margin: 0 11px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    height: 18px;
    background-position-y: 100%;
}

.footer .ac-gf-footer .legal {
    color: #86868b;
}

.ac-gf-footer-legal-copyright {
    padding: 20.6px 0 24px 0;
}

@media only screen and (max-width: 734px) {
    .footer .ac-gf-footer {
        margin: 0 auto;
        max-width: 980px;
        padding: 0 16px;
    }
}